:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  padding: 2.75rem;
  min-height: 100%;
}

main {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 7px solid;
  border-right-color: rgb(133, 133, 133, 0.7);
  border-bottom-color: rgb(133, 133, 133, 0.7);
  border-left-color: rgb(250, 250, 250, 0.7);
  border-top-color: rgb(250, 250, 250, 0.7);
  background-color: rgb(201, 201, 201, 0.7);
}

h3 {
  text-align: center;
  border: 5px solid;
  border-left-color: rgb(133, 133, 133);
  border-top-color: rgb(133, 133, 133);
  border-right-color: white;
  border-bottom-color: white;
  background-color: rgb(201, 201, 201);
  padding: 0.5rem;
}
li {
  list-style: none;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0rem;
  margin: 0rem 0rem 1rem 0rem;
  width: 80%;
  height: 1.125rem;
  border: 5px solid;
  border-left-color: rgb(133, 133, 133);
  border-top-color: rgb(133, 133, 133);
  border-right-color: white;
  border-bottom-color: white;
  background-color: rgb(201, 201, 201);
  padding: 0.5rem;
}
button {
  align-self: center;
  width: 5rem;
  height: 2rem;
  border: 3.5px solid;
  padding: 0.125rem;
  border-right-color: rgb(133, 133, 133);
  border-bottom-color: rgb(133, 133, 133);
  border-left-color: white;
  border-top-color: white;
  background-color: rgb(201, 201, 201);
  text-align: center;
  line-height: 1rem;
}

.boardUI {
  border: 5px solid;
  border-left-color: rgb(133, 133, 133);
  border-top-color: rgb(133, 133, 133);
  border-right-color: white;
  border-bottom-color: white;
}

.row {
  display: flex;
}

.cell {
  width: 1.75rem;
  height: 1.75rem;
  border: 3.5px solid;
  margin: 0;
  padding: 0;
  border-right-color: rgb(133, 133, 133);
  border-bottom-color: rgb(133, 133, 133);
  border-left-color: white;
  border-top-color: white;
  background-color: rgb(201, 201, 201);
  text-align: center;
  line-height: 1rem;
}
