:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  padding: 2.75rem;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 7px solid;
  border-right-color: rgb(133, 133, 133, 0.7);
  border-bottom-color: rgb(133, 133, 133, 0.7);
  border-left-color: rgb(250, 250, 250, 0.7);
  border-top-color: rgb(250, 250, 250, 0.7);
  background-color: rgb(201, 201, 201, 0.7);
}

h3 {
  text-align: center;
  border: 5px solid;
  border-left-color: rgb(133, 133, 133);
  border-top-color: rgb(133, 133, 133);
  border-right-color: white;
  border-bottom-color: white;
  background-color: rgb(201, 201, 201);
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  margin-top: 0;
}
li {
  list-style: none;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0rem;
  margin: 0rem 0rem 1rem 0rem;
  width: 80%;
  height: 1.125rem;
  border: 5px solid;
  border-left-color: rgb(133, 133, 133);
  border-top-color: rgb(133, 133, 133);
  border-right-color: white;
  border-bottom-color: white;
  background-color: rgb(201, 201, 201);
  padding: 0.375rem;
}

.playAgain {
  align-self: center;
  border: 3.5px solid;
  padding: 0.125rem 0.5rem;
  border-right-color: rgb(133, 133, 133);
  border-bottom-color: rgb(133, 133, 133);
  border-left-color: white;
  border-top-color: white;
  background-color: rgb(201, 201, 201);
  font-size: 0.45rem;
}

.boardUI {
  border: 5px solid;
  border-left-color: rgb(133, 133, 133);
  border-top-color: rgb(133, 133, 133);
  border-right-color: white;
  border-bottom-color: white;
}

.row {
  display: flex;
}
article {
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
  width: fit-content;
  height: fit-content;
}
.cell {
  width: 1.75rem;
  height: 1.75rem;
  border: 3.5px solid;
  margin: 0;
  padding: 0;
  border-right-color: rgb(133, 133, 133);
  border-bottom-color: rgb(133, 133, 133);
  border-left-color: white;
  border-top-color: white;
  background-color: rgb(201, 201, 201);
  text-align: center;
  // line-height: 1rem;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.dropdown {
  width: auto;
  height: auto;
  border: 3.5px solid;
  padding: 0.125rem 0.5rem;
  margin: 0rem 0rem 0.75rem 0rem;
  border-right-color: rgb(133, 133, 133);
  border-bottom-color: rgb(133, 133, 133);
  border-left-color: white;
  border-top-color: white;
  background-color: rgb(201, 201, 201);
  // text-align: center;
  font-size: 0.45rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  // right: 45.5%;
  margin: 5.45px 0px 0px 3.5px;
  background-color: rgb(201, 201, 201);
  min-width: 2.5rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  padding: 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.flag {
  font-size: 0%;
}

.flag::before {
  content: '🚩';
  font-size: 0.85rem;
}

.bomb {
  font-size: 0%;
  border: 0.5px solid;
  border-color: rgb(133, 133, 133);
  padding: 0.1rem;
}

.bomb::before {
  content: '💣';
  font-size: 0.85rem;
}

.empty {
  font-size: 0%;
  border: 0.5px solid;
  border-color: rgb(133, 133, 133);
  padding: 0.1rem;
}

.number {
  border: 0.5px solid;
  border-color: rgb(133, 133, 133);
  padding: 0.1rem;
}

.loss {
  background-color: rgba(255, 0, 0, 0.6);
  font-size: 0%;
  border: 0.5px solid;
  border-color: rgb(133, 133, 133);
  padding: 0.1rem;
}

.loss::before {
  content: '💣';
  font-size: 0.85rem;
}
